{{template 'users/form'}}

<a href='#' {{action update target='controller'}} class='btn btn-success'>{{buttonTitle}}</a>
<a href='#' {{action cancel target='controller'}} class='btn btn-inverse'>Cancel</a>

<a href='#' {{action 'destroy'}} class='btn btn-danger'>Destroy</a>
